<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../../static/css/summary.css">
    <script src="../../static/js/summary.js"></script>
</head>
<body>
<h1>The generation of the summary of a policy:</h1>

<div class="row">
    <div class="column">
        <h1>Task 1</h1>
        <h2>Summary</h2>
        <div class="ex1">
            <textarea id="w3review" name="w3review" rows="20" cols="120" onkeyup="summary_change()"
                      style="width: 880px">{{ policy.description }}</textarea>
            {% if has_summary %}
            <button id="save_summary" class="btn btn-outline-primary"
                    onclick="save_summary('{{ policy.policy_id }}', true)"
                    disabled=true>Save
            </button>
            {% else %}
            <button id="save_summary" class="btn btn-outline-primary"
                    onclick="save_summary('{{ policy.policy_id }}', true)">Save
            </button>
            {% endif %}

            <button><a href="{{ url_for('main.get_summary', prolific_id=policy.prolific_id, question_id=2) }}">Next</a>
            </button>
            <div style="height: 200px">
                <main class="grid">
                    <div id="complete">Complete: {{ complete }}/{{ total }}</div>
                    {% for k in annotation_progress %}
                    {% if annotation_progress[k] %}
                    <div class="box1" id="ap_{{ k }}">
                        <a href="{{ url_for('main.get_summary', prolific_id=policy.prolific_id, question_id=k) }}">{{ k
                            }}</a>
                    </div>
                    {% else %}
                    <div class="box2" id="ap_{{ k }}">
                        <a href="{{ url_for('main.get_summary', prolific_id=policy.prolific_id, question_id=k) }}">{{ k
                            }}</a>
                    </div>
                    {% endif %}
                    {% endfor %}
                </main>
            </div>
        </div>
        <button><a href="{{ url_for('annotation.view', prolific_id=policy.prolific_id) }}">Results</a></button>
    </div>
    <div class="column">
        <h2>Original Policy(Policy Id: {{ policy.policy_id }})</h2>
        <div class="ex2" id="summary">
            {{ policy.original_text }}
        </div>
    </div>
</div>

<div id="divSummaryText" style="display: none;">
    {{ policy.description }}
</div>
</body>
</html>
